html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#textDiv {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: yellowgreen;
  width: 300px;
  text-align:center;
}